body {
  position: relative;
}

p {
  text-align: center;
}

.transform {
  height: 100px;
  width: 100px;
  background-color: red;
  animation: moveToRight 5s infinite linear;
}

@keyframes moveToRight {
  0% {
    translate: -10vw;
  }

  100% {
    translate: 100vw;
  }
}
