<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="F-shaped.css" />
    <title>F-Shaped Layout</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="left">
          <a href="#">Logo</a>
        </div>
        <div class="right">
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="section-div1"></div>
        <div class="section-div2"></div>
        <div class="section-div3"></div>
      </section>
      <section>
        <div class="section-div1"></div>
        <div class="section-div2"></div>
        <div class="section-div3"></div>
      </section>
      <section></section>
    </main>
    <footer></footer>
  </body>
</html>
