<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="FullScreenLayout.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="featured">
      <h1>Full Screen or Featured Photo Screen</h1>
      <p>
        With this type of layout, a high-quality image takes center stage on a
        page and can sometimes be used in place of a background. If you use a
        full-screen photo, be sure to make any content on it easily readable
        (use high-contrast or visible colors). The goal of this image is to let
        users know about your company in a powerful, emotional, and visual way.
      </p>
      <p>
        This type of layout is good for businesses that sell a single service.
        It’s not as effective for businesses, like retail companies, that sell a
        variety of products. For example, a website for a financial adviser
        could feature a couple laying out poolside at a beautiful beach resort
        accompanied by the headline, “Find your financial freedom.” If you use
        this layout, make sure your image is high-quality. Sites like Canva and
        Image Resizer have tools that can help you adjust the specs and pixels
        of an image for any screen size without losing quality.
      </p>
      <span>Source: upwork</span>
    </div>
  </body>
</html>
