<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="SingleColumn.css" />
    <title>Single Column Layout</title>
  </head>
  <body>
    <header class="header items">
      <h1>Navigation</h1>
    </header>
    <div class="heading items"><h1>HEADING</h1></div>
    <article class="content items">
      <h1>Content</h1>
      <h2>The Single Column Layout</h2>
      <p>
        A single column layout shows all your content in one vertical line. This
        layout is extremely user-friendly. All a visitor has to do is scroll
        down to find information. Websites that use this design also translate
        from desktops to mobile devices without losing functionality. Many
        personal blogs or blogging sites use this kind of layout.
      </p>
      <p>
        If you use this layout, remember to put all of the primary content at
        the top so that it’s the first thing users see. These sites can have
        long scrolls, using sticky navigation so that visitors don’t have to
        scroll back to the top of the page. Sticky navigation means including a
        clickable sticky menu (your navigation bar) that follows the user when
        they’re scrolling down the page. It lets users immediately go back to
        the top of the scroll or to other specific points.
      </p>
      <div class="copyright">
        <p>Source: upwork</p>
      </div>
    </article>
    <footer class="footer items">
      <h1>Footer</h1>
    </footer>
  </body>
</html>
