<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Split-Screen.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="first-screen">
      <nav class="first-screen-nav"></nav>
      <div class="first-screen-content">
        <h1>Split-Screen Layout</h1>
        <p>
          This layout splits your webpage into two halves. Each half represents
          a version of a customer’s user journey. It gives both versions the
          main stage without showing preference to either one. For example, you
          might use a split-screen layout if you have a store that sells clothes
          for both men and women.
        </p>
      </div>
    </div>
    <div class="second-screen">
      <nav class="second-screen-nav">
        <div class="links">LINKS</div>
        <div class="links">LINKS</div>
        <div class="links">LINKS</div>
      </nav>
      <div class="second-screen-content">
        <h1>Split-Screen Layout</h1>
        <p>
          This layout splits your webpage into two halves. Each half represents
          a version of a customer’s user journey. It gives both versions the
          main stage without showing preference to either one. For example, you
          might use a split-screen layout if you have a store that sells clothes
          for both men and women.
        </p>
      </div>
    </div>
  </body>
</html>
