<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Zshaped.css" />
    <title>Z-Shaped Layout</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Links</a>
        <a href="#">Links</a>
        <a href="#">Links</a>
        <a href="#">Links</a>
        <a href="#">Links</a>
      </nav>
    </header>
    <main>
      <article>
        <h1>Z-shaped layout</h1>
        <p>
          The theory behind the Z-shaped layout says that people scan webpages
          with small amounts of content differently than those with large
          amounts (F-shaped layouts). They start at the top-left of the page,
          read to the right side, and then their attention zigzags to the bottom
          left of the page and to the right again. The spots that will get the
          most attention are located at the top-left, top-right, bottom-left,
          and bottom-right of each page (the ends of the Z). This simple layout
          is good for landing pages without too much copy. It can help you lead
          a visitor to a CTA and make a conversion. Like the F-shaped layout,
          this layout can also be used in conjunction with other layouts.
        </p>
        <em>Source: upWork</em>
      </article>
      <section></section>
      <section></section>
      <section class="section3"></section>
    </main>
  </body>
</html>
